/* CSS here */
body {
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

#header {
  text-transform: uppercase;
  color: #2d3c49;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.logo {
  margin-top: 10px;
}

.title-name {
  font-size: 70px;
  font-weight: 100;
  margin-bottom: 0;
  text-align: right;
}

.subtitle-ninja {
  font-size: 24px;
  font-weight: 400;
  text-align: right;
}

#featured {
  font-weight: 400;
  margin-bottom: 0;
}

.title-featured {
  color: #7d97ad;
  margin-top: 30px;
  margin-bottom: 20px;
}

.name-project {
  text-transform: uppercase;
  color: #2d3c49;
  margin-bottom: 0;
  margin-top: 10px;
}

#line {
  color: #7d97ad;
  background-color: #7d97ad;
  height: 2px;
  margin-bottom: 20px;
}

.link {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2d3c49;
}
