.logo {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.title-name {
  margin-top: 20px;
}

.title-name, .subtitle-ninja {
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}
